.sinopsis {
    background-image: url("./imagenes/background3.png"); /* Ruta de la imagen */
    background-size: cover;  /* Ajusta la imagen al tamaño de la sección */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    padding: 50px 20px; /* Espaciado interno para que el texto no quede pegado */
    color: white;
    height: 500px;
    margin-top: 0px;
}
